<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../angular1.2.8-lib/bootstrap.min.css" rel="stylesheet" />
    <link href="toaster.css" rel="stylesheet" />
    <script src="../angular1.2.8-lib/angular.min.js" ></script>
    <script src="../angular1.2.8-lib//angular-animate.min.js" ></script>
    <!--<script src="http://code.angularjs.org/1.2.8/angular-animate.min.js" ></script>-->    
    <script src="toaster-0-4-15.js"></script>
    <script src="app.js"></script>
</head>
<body>

<div>
    <div ng-controller="myController">
        <div class="btn btn-default" ng-click="showInbox=!showInbox">
            Inbox messages <span class="badge" ng-if="inbox.length">{{inbox.length}}</span>
        </div>
        <p>Ifto: {{text | json}}</p>
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
        <button class="btn btn-primary" style="margin: 50px 0 0 150px;" ng-click="pop()">Show and add toasts to inbox
        </button>
        <br />
        <button class="btn btn-danger" style="margin: 10px 0 0 150px;" ng-click="clear()">Close toasts</button>
        
        <!--<div ng-repeat="toast in toaster">{{toast.body}}</div>-->
        <!--<button class="btn btn-primary" style="margin: 50px 0 0 150px;" ng-click="alertMy('empty btn');">empty btn</button>-->

        <!-- <br />
        <button class="btn btn-primary" style="margin: 25px 0 0 150px;" ng-click="showById(3);">show #3 and add inbox</button>
        <br />
        <button class="btn btn-primary" style="margin: 25px 0 0 150px;" ng-click="showById(1);">show #1 and add inbox</button>-->
        <br /> 
        <button class="btn btn-success" style="margin: 15px 0 0 150px;" ng-click="showInbox();">showInbox</button>
        <pre ng-if="!showInbox">inbox:{{inbox | json}}</pre>
    </div>
</div>

<script type="text/ng-template" id="toasterBodyTmpl.html">
    <p>Render a default template!</p>
</script>

<script type="text/ng-template" id="myTemplate.html">
    my body template
    showById, {{text}}
    <button class="btn btn-success" ng-click="readed('ok');">Ok</button>
    <!-- <button class="btn btn-default" ng-click="save('save to inbox');">save</button> -->
    <button class="btn btn-danger" ng-click="removeThis();">delete</button>
</script>

</body>
</html>