{{#> base }}

  <div class="container-fluid">

    <h3>autogreeting page</h3>
    <p>Автоприветствие - автоматическая отправка сообщения только что подписавшемуся подписчику. Можно поблагодарить за подписку, подарить скидку, задать вопрос, предложить товар/услугу и т.д.<u>Инструкция</u>или [<u>Видео</u>]</p>

    <div class="container">
        <div class="form-example mb-4">
            <button>Активные</button>
            <button>Остановленые</button>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary float-right">Еще сообщения</button>
                </div>
                <div class="clearfix"></div>
            </form>
            
        </div>
        <div class="row">
            <div class="col">
                <h3>Выберите режим</h3>
                <p>Безопасний</p>
                <p>Средний</p>
                <p>Агресивный</p>
            </div>
            <div class="col">
                <button class="btn btn-primary">Включить автоприветствие</button>
            </div>
        </div>
    </div>
  </div>


{{/ base }}