$time-margin: 0.25rem;
$time-color: #999999;

.messages-page {
  img {
    width: 64px;
    height: auto;
  }
  .content-image {
    width: 30%;
    min-width: 150px;
    height: auto;
  }
}
.messages-user-list {
  .time {
    float: right;
  }
}

.messages-list {
  overflow-y: auto;
  max-height: 80vh;
  height: 80vh;
  width: 100%;
  .chat-date-text {
    text-align: center;
    font-size: small;
    color: $time-color;
  }
  .chat-item {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .chat-item-left {
    >div.d-flex {
      width: 100%
    }
    .chat-img-box {
      margin-right: $time-margin;
      position: relative;
      img {
        width: 64px;
        height: 64px;
      }
    }
    .chat-username {
        margin: 0;
    }
    
    .chat-text {
      background-color: #bae3fa;
      display: inline-table;
      padding: 0.2rem;
    }
    .chat-time-text {
      position: absolute;
      right: 15px;
    }
  }
  .chat-item-right {
      .chat-img {
          text-align: right;
      }
  }
  .chat-time-text {
    margin-left: $time-margin;
    color: $time-color;
  }
}
