{{#> base }}

  <div class="container-fluid stories-page">

    <h3>Просмотр Stories</h3>

  <div class="container-fluid">
      <div class="row">
          <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-create-task-tab" data-toggle="pill" href="#create-task" role="tab" aria-controls="create-task" aria-selected="false">Создать задание</a>
                  <a class="nav-link" id="v-pills-runned-tab" data-toggle="pill" href="#runned" role="tab" aria-controls="runned" aria-selected="true">Запущенные задания</a>
                  <a class="nav-link" id="v-pills-stopped-tab" data-toggle="pill" href="#stopped-tasks" role="tab" aria-controls="stopped-tasks" aria-selected="true">Остановленные/Выполненные задание</a>
                  <a class="nav-link" id="v-pills-logs-tab" data-toggle="pill" href="#logs" role="tab" aria-controls="logs" aria-selected="true">Логи</a>
              </div>
          </div>
          <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show" id="runned" role="tabpanel" aria-labelledby="v-pills-runned-tab">
                      {{>task-status wrapperCls='tasks-runs--box' listCls = 'tasks-runs' title='Запущеные'}}
                  </div>
                  <div class="tab-pane fade show" id="stopped-tasks" role="tabpanel" aria-labelledby="v-pills-stopped-tab">
                      {{>task-status wrapperCls='tasks-stopped--box' listCls='tasks-stopped' title='Остановленные'}}
                  </div>
                  <div class="tab-pane fade show" id="logs" role="tabpanel" aria-labelledby="v-pills-logs-tab">
                      {{>logs-subtype}}
                      <div class="js_logs-container d-none">
                        {{>logs}}
                      </div>
                  </div>
                  <div class="tab-pane fade show active" id="create-task" role="tabpanel" aria-labelledby="v-pills-create-task-tab">
                      <div class="js_add-new-task">
                          <div class="row">
                              <div class="col-md-6 col-sm-6 js_task-types">
                                  <!-- task-types from Ajax-->
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 form-box">
                                  {{#> wizard-form }}
                                      {{> stories-wizard}}
                                  {{/ wizard-form }}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


{{/ base }}
