{{#> base }}

  <div class="container-fluid autoposting">

    <h3>autoposting</h3>
    <p>Автопостинг - здесь вы сможете добавить посты или stories в инстаграм прямо отсюда, не пользуясь мобильным приложением. А так же заранее загрузить посты и истории и они будут без вашего участия публиковаться на автомате в нужное время. [Инструкция] [Видео про автопостинг]</p>

    <div class="container">
      <div class="row">

        <div class="col">
          <button class="btn btn-primary js_add-post">Добавить пост</button>
          <p class="holder"></p>
          <p class="holder"></p>
        </div>
        <div class="col">
          <button class="btn btn-primary js_add-stories">Добавить сторис</button>
          <p class="holder"></p>
          <p class="holder"></p>
        </div>
        
      </div>
    </div> 
    
  </div>


{{/ base }}