
<div class="form-top">
    <div class="form-top-left">
        <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Настройка автокомментариев</h3>
        <p>Шаг 2/2</p>
    </div>
</div>
<div class="form-bottom">
    <div class="autocomments-text-fields">
        <div class="row js_smooth-starting my-3 d-none">
            <div class="form-group col-md-6 col-sm-6">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="smooth_starting" checked>
                    <label class="custom-control-label" for="smooth_starting">Плавный старт</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="js_tagsinput-box">
                    <input type="text" placeholder="Введите ключевые слова" value="" data-role="tagsinput" class="form-control answer-words mb-2" />
                </div>
                <div class="js_tagsinput-box blacklist-box my-2">
                    <input type="text" placeholder="Введите минус слова" value="" data-role="tagsinput" class="form-control blacklist-words" />
                </div>
            </div>
            <div class="col">
                <textarea class="form-control answer-messages" rows="4"
                    data-emoji-picker="true"
                    style="padding: 0.25rem 1.75rem 0.25rem 0.25rem; width: 100%;min-height: 42px;"
                    placeholder="Введите сообщение"
                ></textarea>

            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <button type="button" class="btn btn-outline-success js_add-autocomments">+Добавить еще</button>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous mr-2">Назад</button>
    <button type="submit" class="btn btn-success">Запустить</button>
</div>

{{> posts-modal }}

