<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="shortcut icon" href="/instagram-integration/favicon.ico" />
</head>
<body>
  {{> header withMenu='true'}}

  {{#> wrapper }}

    {{> @partial-block }}

  {{/ wrapper }}

</body>
</html>
