{{#> base }}

  <div class="container-fluid follow-page">

    <h3>Подписки</h3>
    <p>Система будет подписываеться на нужных аккаунтов по заданным критериям. </p>

      {{>follow}}

  </div>

{{/ base }}
