{{#> base }}

  <div class="container-fluid follow-page">

    <h3>Follow page</h3>

      {{>follow}}
    
    <p>Система будет подписываться от нужных аккаунтов по заданным критериям. </p>
    <ul>
      <li>Формат добавления задания:</li>
        <li>Сначала пользователь выбирает аккаунт, с которого будет производиться подписка</li>
        <li>После выбора раскрывается следующий пункт - выбирает на кого подписываться. На примере выбрана активная аудитория.
      Далее Раскрывается еще пункт и там нужно указать список своих конкурентов
      Потом раскрывается еще - скорость</li>
        <li>Потом критерии</li>
        <li>И кнопка старта</li>

        <li>Здесь все аккаунты в одном окне отображаются.</li>

      </ul>

    <div class="container">
      <div class="row">
        <div class="col">
          <button>Выберите аккаунт</button>
          <button>На кого подписываться?</button>
          <button>Укажите своих конкурентов</button>
          <button>Скорость</button>
          <button>Критерии</button>
        </div>
      </div>
    </div>



  </div>


{{/ base }}
