{{#> base }}

  <div class="container-fluid follow-page">

    <h3>Follow page</h3>

      {{>follow}}
    
    <p>Система будет подписываеться на нужных аккаунтов по заданным критериям. </p>

  </div>

{{/ base }}
