<fieldset>
    <div class="form-top">
        <div class="form-top-left">
            <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Выберите аккаунт</h3>
            <p>Шаг 1/3</p>
        </div>
    </div>

    <div class="form-bottom">
        <div class="profile-user js_profile-user-follow">
            {{> instagram-accounts-list}}
        </div>
        <button type="button" class="btn btn-blue btn-next" disabled="disabled">Дальше</button>
    </div>
</fieldset>
<fieldset>
    {{> step-select-subtype
        titleHeader='Выберете режим'
        subTitle='Шаг 2/3'
        pageName='unfollow'
        subtype-1='UNFOLLOWING_BY_LIST'
        subtype-1-text='По списку'
        subtype-2='UNFOLLOWING_BY_ALL'
        subtype-2-text='От всех'
        subtype-3='UNFOLLOWING_BY_NON_RECIPROCAL'
        subtype-3-text='От невзаимных'
    }}
</fieldset>
<fieldset>
    {{> unfollow-step-3
        titleHeader='Выберите режим'
        subTitle='Шаг 3/3'
    }}
</fieldset>

<div class="form-submit-finish position-absolute d-none">
    <div class="alert alert-success fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <h2>Задание создано успешно!</h2>
    </div>
</div>
