<div class="container">
  <label for="branch-separator" class="input-group">separator</label>
  <input type="text" id="branch-separator" value='-'/>
  <br>
   
  <label for="type">type</label>
  <select name="" id="type">
    <option value="bug">bug</option>
    <option value="feature">feature</option>
    <option value="PBI">PBI</option>    
  </select>  
  <br>
  
  <label for="branch-number">number</label>
  <input type="text" id="branch-number" class="input-group" value='000'/>
  <br>
  
  <label for="branch-title">title</label>
  <input type="text" id="branch-title" class="input-group" value='branch-title'/>  
  <br>
  
  <button id='calculate'>rename</button>
  <br>
  
  <div id="result"></div>
</div>
<script>
  function getNameFor(type, str, number, separator){
     return type + '/' + number + separator + str.replace(/\]+|\s+|\W+/g, separator);
   }
  
  function showValues() {
    var fields = $( ":input" ).serializeArray();    
    var separator = fields[0].value;
    var type = fields[1].value;
    var number = fields[2].value;
    var str = fields[3].value;
    
    $( "#results" ).empty();    
    $( "#results" ).append( getNameFor(type, str, number, separator) );    
  }
 
  //handlers
  $( ":checkbox, :radio" ).click( showValues );
  $( "select" ).change( showValues );
  $( "input" ).change( showValues );
  
  showValues();
   
</script>
