<div class="container">
  <form >
  <label for="branch-separator">separator</label>
  <input type="text" class="input-group" id="branch-separator" value='-' name="single-separator"/>
  <br>
  
  <select name="single-type" id="type">
    <option value="bug">bug</option>
    <option value="feature">feature</option>
    <option value="PBI">PBI</option>    
  </select>  
  <br>
  
  <label for="branch-number">number</label>
  <input type="text" class="input-group" id="branch-number" name="single-number" value='000'/>
  <br>
  
  <label for="branch-title">title</label>
  <input type="text" class="input-group" id="branch-title" name="single-title" value='branch-title'/>  
  </form>
  
  <button id='calculate'>rename</button>
  <br>
  
  
  <div id="results"></div>
</div>
<script>
  function getNameFor(type, str, number, separator){
     return type + '/' + number + separator + str.replace(/\]+|\s+|\W+/g, separator);
   }
  
  function showValues() {
    var fields = $( ":input" ).serializeArray();    
    var separator = fields[0].value;
    var type = fields[1].value;
    var number = fields[2].value;
    var str = fields[3].value;
    
    $( "#results" ).empty();    
    $( "#results" ).append( getNameFor(type, str, number, separator) );    
  }
 
  //handlers
  $( ":checkbox, :radio" ).click( showValues );
  $( "select" ).change( showValues );
  $( "input" ).change( showValues );
  
  $('#calculate').click( showValues );
  showValues();
   
</script>
