<div>
    <button class = "btn" ng-click ="goBack()">goBack</button>
    <div>
        <h3>информация о пользователе {{person.name}}</h3>
    </div>

    <div >
        <h2> {{person.name}}
            <span class="smallname">(@<a href="{{person.html_url}}" target="_blank"> {{person.login}} </a>)</span>
        </h2>

        <div class="">
            <div class="">
                <a href="{{ person.html_url }}" target="_blank">
                    <img src="{{person.avatar_url}} " width="80" height="80" alt="{{ user.login }}"></a>
            </div>
            Followers: {{ person.followers }} - Following: {{ person.following }}<br>Repos: {{ person.public_repos }}</p>
        </div>

        <div class="repolist clearfix">

            <div >
                <p><strong>Repos List:</strong></p>
                <ul>
                    <li ng-repeat="repo in repos">{{$index}}: <a href="#/base/repos/{{person.login}}/{{repo.name}}"> {{repo.name}} </a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
