{{#> base }}

  <div class="container-fluid">

    <div>
      На этой странице пользователь имеет возможность управлять своим профилем в Инстаграм. А именно: удалить/изменить аватарку, изменить описание профиля и все доступные настройки
    </div>
    
    {{> profile-user }}
    
  </div>


{{/ base }}