<div class="file-upload">
  <button class="file-upload-btn" type="button">Добавить картинку</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' accept="image/*" />
    {{!-- <div class="drag-text">
      <h3>Выбрать фото</h3>
    </div> --}}
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" class="remove-image">Удалить <span class="image-title">Загрузить</span></button>
    </div>
  </div>
</div>



{{!-- <div class="imageupload panel panel-default d-inline-block">
    <div class="file-tab panel-body">
    <label class="btn btn-success js_autoanswer-add-photo btn-file mb-0">
            <b>Выбрать фото</span>
            <!-- The file is stored here. -->
            <input type="file" name="image-file">
        </label>
        <button type="button" class="btn btn-default">Удалить</button>
    </div>
</div> --}}


    {{!-- <div class="panel-heading clearfix"> --}}
        
        {{!-- <div class="btn-group pull-right">
            <button type="button" class="btn btn-default active">File</button>
            <button type="button" class="btn btn-default">URL</button>
        </div> --}}
    {{!-- </div> --}}
    {{!-- <div class="file-tab panel-body">
        
    </div> --}}
    {{!-- <div class="url-tab panel-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Image URL">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default">Submit</button>
            </div>
        </div>
        <button type="button" class="btn btn-default">Remove</button>
        <!-- The URL is stored here. -->
        <input type="hidden" name="image-url">
    </div> --}}
