
.show-layers {
   img {
        position: absolute;
       margin: 0px;
    }
    #img1{
        margin: 60px 0 0 60px;
    }
    #img3{
        margin: 120px 0 0 120px ;
    }
    #offset {
        padding-top: 260px;
    }
    .active {
        border: 2px solid orange;
    }
}

