{{#> base }}

<div class="container-fluid chat-bot-page">
    <h3>Чат бот</h3>

    <div class="container-fluid">
        <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-create-task-tab" data-toggle="pill" href="#create-task" role="tab" aria-controls="create-task" aria-selected="false">Создать задание</a>
                <a class="nav-link" id="v-pills-runned-tab" data-toggle="pill" href="#runned" role="tab" aria-controls="runned" aria-selected="true">Запущенные задание</a>
                <a class="nav-link" id="v-pills-stopped-tab" data-toggle="pill" href="#stopped-tasks" role="tab" aria-controls="stopped-tasks" aria-selected="true">Остановленные/Выполненные задание</a>
                <a class="nav-link" id="v-pills-logs-tab" data-toggle="pill" href="#logs" role="tab" aria-controls="logs" aria-selected="true">Логи</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show" id="runned" role="tabpanel" aria-labelledby="v-pills-runned-tab">
                    <div class="bot-tasks-runs--box">
                        <h3>Запущеные</h3>
                        <ul class="bot-tasks-runs list-unstyled"></ul>
                    </div>
                </div>
                <div class="tab-pane fade show" id="stopped-tasks" role="tabpanel" aria-labelledby="v-pills-stopped-tab">
                    <div class="bot-tasks-stopped--box">
                        <h3>Остановленные</h3>
                        <ul class="bot-tasks-stopped list-unstyled"></ul>
                    </div>
                </div>
                <div class="tab-pane fade show" id="logs" role="tabpanel" aria-labelledby="v-pills-logs-tab">
                    <div class="log-tasks--box">
                        <h3>Логи</h3>
                        <nav aria-label="Page navigation">
                            <ul class="logs-pagination pagination justify-content-between"></ul>
                        </nav>
                        <ul class="bot-log-tasks list-unstyled">
                            <li class="ipsField tag_field">
                                loading...
						    </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="create-task" role="tabpanel" aria-labelledby="v-pills-create-task-tab">
                    <div class="js_add-new-task">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 js_task-types">
                                {{!-- task-types from Ajax--}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-box">
                                {{#> wizard-form }}
                                    {{> chat-bot-wizard}}
                                {{/ wizard-form }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
    </div>
</div>


{{/ base }}

