{{#> base }}

  <div class="container-fluid chat-bot-page">

    <h3>Chat-bot page</h3>
    
    <div>Chat-bot info</div>

    <div class="container">
      <div class="row">

        <div class="col">
          Chat-bot
        </div>
        
      </div>
    </div> 
    

  </div>


{{/ base }}