{{!-- {{>follow-create-task}} --}}
<div class="form-top">
    <div class="form-top-left">
        <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Настройка автоответа</h3>
        <p>Шаг 2/2</p>
    </div>
</div>
<div class="form-bottom">
    <div class="autoanswer-text-fields">
        <div class="row">
            <div class="col">
                <textarea class="form-control answer-words" rows="4"
                            placeholder="Введите ключевые слова, на которые будет срабатывать автоответ"
                ></textarea>
            </div>
            <div class="col">
                <textarea class="form-control answer-messages" rows="4"
                    data-meteor-emoji="true" style="padding: 0.25rem; width: 100%;min-height: 42px;"
                    placeholder="Введите сообщение, которое будет отправлено"
                ></textarea>
                <div class="mt-2">
                    {{> image-upload }}

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success js_autoanswer-add-post" 
                        data-toggle="modal" 
                        data-post-info="todo: get req to user: "
                        data-target="#postsGridModal">
                        post
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="postsGridModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success">Save changes</button>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <button type="button" class="btn btn-outline-success js_add-autoanswer">+Добавить еще</button>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous mr-2">Назад</button>
    <button type="submit" class="btn btn-success">Старт</button>
</div>

