
.autoanswer-page {
    // todo: create tabs compponent
    a {
        color: $primary;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
    .post-upload-btn {
        top: -35px;
        position: relative;
        padding: 4px 8px;
        width: auto !important;
        min-width: initial !important;
    }
}



