{{#> base }}

    <h3 class="mb-5">Инстаграм</h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" id="js_show-login-box">Add instagram account</button>
                {{>login-form
                    idForm="js_instagram-add-account"
                    idBtn="js_instagram-add-account--btn"}}
            </div>
            <div class="col">                
                <button class="btn btn-primary" id="js_instagram-get-accounts--btn">Get accounts</button>
                <ul class="list-group instagram-accounts-list my-3"></ul>
            </div>
        </div>
    </div>    
    
    <div id="some-error"></div>
    <div id="description"></div>

{{/ base }}