<div class="сonfirm-page-component">
  <div class="row ">

    <div class="сonfirm-page--confirm-msg">
        Регистрация успешно завершена. Теперь добавьте свой аккаунт от instagram [<a href="/instagram-integration/">здесь</a>]
    </div>

  </div>

</div>
