
.aside-burger-menu {
  transition: $transition-base;
  background-color: $dark;
  overflow-x: hidden;
  overflow-y: auto;

  .sidebar-sticky {
    height: calc(100vh - #{$headerHeight});
    .nav-link {
      text-decoration: none;
    }
  }
}
