
.aside-burger-menu {
  transition: $transition-base;
  background-color: $dark;
  overflow-x: hidden;
  overflow-y: auto;

  .sidebar-sticky {
    height: initial;
    .nav-link {
      text-decoration: none;
    }
  }
}

@media (min-width: $tabletBreakpoint) {
  .sidebar-sticky {
    height: calc(100vh - #{$headerHeight});
  }
}
