<div class="container-fluid follow">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-create-task-tab" data-toggle="pill" href="#create-task" role="tab" aria-controls="create-task" aria-selected="false">Создать задание</a>
                <a class="nav-link" id="v-pills-all-tab" data-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">История заданий</a>
                {{!-- <a class="nav-link" id="v-pills-stopped-tab" data-toggle="pill" href="#stopped-tasks" role="tab" aria-controls="stopped-tasks" aria-selected="true">Остановленные/Выполненные задание</a> --}}
                <a class="nav-link" id="v-pills-logs-tab" data-toggle="pill" href="#logs" role="tab" aria-controls="logs" aria-selected="true">Логи</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show" id="all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                    {{> dropdown wrapperCls='subtype' selectBoxCls='subtype-select-wrapper' title='Тип' }}
                    {{> task-status wrapperCls='tasks-all--box' listCls = 'tasks-all' title=""}}
                </div>
                {{!-- <div class="tab-pane fade show" id="stopped-tasks" role="tabpanel" aria-labelledby="v-pills-stopped-tab">
                    <div class="follow-tasks-stopped--box">
                        <h3>Остановленные</h3>
                        <ul class="follow-tasks-stopped list-unstyled"></ul>
                    </div>
                </div> --}}
                <div class="tab-pane fade show" id="logs" role="tabpanel" aria-labelledby="v-pills-logs-tab">
                    {{>logs-subtype}}
                    <div class="js_logs-container d-none">
                        {{>logs}}
                    </div>
                </div>
                <div class="tab-pane fade show active" id="create-task" role="tabpanel" aria-labelledby="v-pills-create-task-tab">
                    <div class="js_add-new-task add-new-task-box">
                        <div class="row">
                            <div class="col-md-12 form-box">
                                {{>follow-create-task}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

