<div class="assessment-container container follow">
    <div class="row">
        <div class="col-md-6 col-sm-6 js_task-types">
            {{!-- task-types from Ajax--}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-box">
            <form role="form" name="follow-form" class="follow-form was-validated---" action="javascript:void(0);">

                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Выбирает аккаунт, с которого будет производиться подписка</h3>
                            <p>Шаг 1/4</p>
                        </div>
                    </div>

                    <div class="form-bottom">
                        <div class="profile-user js_profile-user-follow">
                            {{> instagram-accounts-list}}
                        </div>
                        <button type="button" class="btn btn-next" disabled="disabled">Дальше</button>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Выбирает на кого подписываться</h3>
                            <p>Шаг 2/4</p>
                        </div>
                    </div>
                    <div class="form-bottom">
                        
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <input type="text" class="form-control" placeholder="Введите ИД-пользователей через запятую"
                                    id="followers">
                            </div>
                        </div>
                        <button type="button" class="btn btn-previous">Назад</button>
                        <button type="button" class="btn btn-next">Дальше</button>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Скорость</h3>
                            <p>Шаг 3/4</p>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group row col-lg-12">
                            <label class="col-3 col-form-label">Скорость</label>
                            <div class="col-9 js_follow-speed">
                                {{!-- follow-speed from Ajax --}}
                            </div>
                        </div>
                        <button type="button" class="btn btn-previous">Назад</button>
                        <button type="button" class="btn btn-next">Дальше</button>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Критерии</h3>
                            <p>Шаг 4/4</p>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="" for="limit">limit</label>
                                <input type="number" class="form-control" placeholder="limit" name="limit" id="limit" min="0" value="7500">
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <div class="form-group col-md-3 col-sm-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="unfollow_then">
                                        <label class="custom-control-label" for="unfollow_then">unfollow_then</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="follow_on_closed_profiles">
                                        <label class="custom-control-label" for="follow_on_closed_profiles">follow_on_closed_profiles</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:3px;">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    have_posts
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <input type="number" class="form-control" name="have_posts_from" placeholder="have_posts from"
                                           id="have_posts-from" min="0" value="3">
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <input type="number" class="form-control" name="have_posts_to" placeholder="have_posts to"
                                        id="have_posts-to" min="0" value="999999">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    have_followers
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <input type="number" class="form-control" name="have_followers_from" placeholder="have_followers from"
                                           id="have_followers-from" min="0" value="30">
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <input type="number" class="form-control" name="have_followers_to" placeholder="have_followers to"
                                        id="have_followers-to" min="0" value="99999">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    have_followings
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <input type="number" class="form-control" name="have_followings_from" placeholder="have_followings from"
                                           id="have_followings-from" min="0" value="0">
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <input type="number" class="form-control" name="have_followings_to" placeholder="have_followings to"
                                        id="have_followings-to" min="0" value="999">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-3 col-form-label">Пол</label>
                            <select class="form-control select-gender">
                                <option value="any">Любой</option>
                                <option value="men">Мужской</option>
                                <option value="women">Женский</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-previous">Назад</button>
                        <button type="submit" class="btn">Старт</button>
                    </div>
                </fieldset>
                <div class="form-submit-finish position-absolute d-none">
                    <div class="alert alert-success fade show">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        <h2>Задание создано успешно!</h2>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="form1"></div>

<!-- alpaca -->
<!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>-->
<!--<link type="text/css" href="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet"/>-->
<!--<script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>-->
<!--
<div id="form1"></div>
<script type="text/javascript">
    $("#form1").alpaca({
        "schema": {
            "title": "What do you think of Alpaca?",
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "title": "Name"
                },
                "ranking": {
                    "type": "string",
                    "title": "Ranking",
                    "enum": ['excellent', 'not too shabby', 'alpaca built my hotrod']
                }
            }
        }
    });
</script>-->

{{!--<div class="follow-steps">
    <div class="wrapper">
        <form action="" id="wizard" role="application" class="wizard clearfix">
            <div class="steps clearfix">
                <ul role="tablist">
                    <li role="tab" aria-disabled="false" class="first current" aria-selected="true">
                        <a id="wizard-t-0" href="#wizard-h-0" aria-controls="wizard-p-0"><span
                                class="current-info audible">current step: </span>
                            <span class="number">1.</span> </a>
                    </li>
                    <li role="tab" aria-disabled="false">
                        <a id="wizard-t-1" href="#wizard-h-1" aria-controls="wizard-p-1"><span class="number">2.</span>
                    </a></li>
                    <li role="tab" aria-disabled="false" class="last">
                        <a id="wizard-t-2" href="#wizard-h-2"
                                                                         aria-controls="wizard-p-2"><span
                            class="number">3.</span> </a>
                    </li>
                </ul>
            </div>
            <div class="content clearfix">

                <h4 id="wizard-h-0" tabindex="-1" class="title current"></h4>
                <section id="wizard-p-0" role="tabpanel" aria-labelledby="wizard-h-0" class="body current"
                         aria-hidden="false">
                    <div class="inner">
                        <a href="#" class="avartar">
                            <img src="images/avartar.png" alt="">
                        </a>
                        <div class="form-row form-group">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="password" class="form-control" placeholder="Password">
                                <i class="zmdi zmdi-lock-open small"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Email">
                                <i class="zmdi zmdi-email small"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Phone">
                                <i class="zmdi zmdi-smartphone-android"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Address">
                                <i class="zmdi zmdi-map small"></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Nation">
                                <i class="zmdi zmdi-account-box-o small"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <h4 id="wizard-h-1" tabindex="-1" class="title"></h4>
                <section id="wizard-p-1" role="tabpanel" aria-labelledby="wizard-h-1" class="body" aria-hidden="true"
                         style="display: none;">
                    <div class="inner">
                        <a href="#" class="avartar">
                            <img src="images/avartar.png" alt="">
                        </a>
                        <div class="form-row">
                            <div class="select">
                                <div class="form-holder">
                                    <div class="select-control">Gender</div>
                                    <i class="zmdi zmdi-caret-down small"></i>
                                </div>
                                <ul class="dropdown">
                                    <li rel="Male">Male</li>
                                    <li rel="Female">Female</li>
                                    <li rel="Other">Other</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="select">
                                <div class="form-holder">
                                    <div class="select-control">Language</div>
                                    <i class="zmdi zmdi-caret-down small"></i>
                                </div>
                                <ul class="dropdown">
                                    <li rel="English">English</li>
                                    <li rel="France">France</li>
                                    <li rel="Vietnamese">Vietnamese</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" class="form-control datepicker-here" data-language="en"
                                       data-date-format="dd - mm - yyyy" id="dp1" placeholder="Date of Birth">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Slogan">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Twitter">
                                <i class="zmdi zmdi-twitter small"></i>
                            </div>
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Linked In">
                                <i class="zmdi zmdi-linkedin small"></i>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Facebook">
                                <i class="zmdi zmdi-facebook small"></i>
                            </div>
                            <div class="form-holder">
                                <input type="text" class="form-control" placeholder="Google">
                                <i class="zmdi zmdi-google small"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <h4 id="wizard-h-2" tabindex="-1" class="title"></h4>
                <section class="section-3 body" id="wizard-p-2" role="tabpanel" aria-labelledby="wizard-h-2"
                         aria-hidden="true" style="display: none;">
                    <div class="inner">
                        <a href="#" class="avartar">
                            <img src="images/avartar.png" alt="">
                        </a>
                        <h6>Payment Method</h6>
                        <div class="payment-block">
                            <div class="payment-item active">
                                <div class="payment-logo">
                                    <img src="images/visa.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/master-card.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/giropay.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/bleue.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/paypal.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/ideal.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/mister.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                            <div class="payment-item">
                                <div class="payment-logo">
                                    <img src="images/maestro.png" alt="">
                                </div>
                                <div class="payment-content">
                                    <p>Visa ... 8314</p>
                                    <p>Express 06/21</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="actions clearfix">
                <ul role="menu" aria-label="Pagination">
                    <li class="disabled" aria-disabled="true">
                        <a href="#previous" role="menuitem">Back</a></li>
                    <li aria-hidden="false" aria-disabled="false">
                        <a href="#next" role="menuitem">Дальше</a></li>
                    <li aria-hidden="true" style="display: none;">
                        <a href="#finish" role="menuitem">Finish</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>
--}}

