{{#> base }}

    <div class="container-fluid registrarion-success">

        <div class="registrarion-success-box">
            <p>
                Ссылка подтверждения регистрации была выслана на Вашу почту.
            </p>
            <p>
                Регистрация успешно завершена. Теперь добавьте свой аккаунт от instagram [<a href="/instagram-integration/">здесь</a>]
            </p>
        </div>

    </div>


{{/ base }}
