{{#> base }}

    <div class="container-fluid registrarion-success">

        <div class="registrarion-success-box">
            <p>
                На Ваш почтовый ящик отправлено сообщение, содержащее ссылку для подтверждения правильности e-mail адреса. Пожалуйста, перейдите по ссылке для завершения регистрации.
            </p>
            <p>
                Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте письмо, нажмите кнопку «Не спам» и перейдите по ссылке подтверждения.
            </p>
            <p>
                Регистрация успешно завершена. Теперь добавьте свой аккаунт от instagram [<a href="/instagram-integration/">здесь</a>]
            </p>
        </div>

    </div>


{{/ base }}
