$border-color: $gray-300;

@keyframes custom-spin {
    from  {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
.spinner-box {
    display: flex;

    .spin-animation {
        width: 30px;
        animation: custom-spin 2s infinite linear;
    }
}



.profile-user {    
    .heading {
        .actions {
            position: absolute;
            right: 15px;
            top: 10px;
        }
    }
    .accounts-list {
        border-radius: 4px;
        border: 1px solid transparent;
        &.border-light-color {
            border-color: $border-color
        }

        .media {
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
            &:hover{ 
                background-color: $gray-200;
            }
            .badge {
                border-radius: 10rem;
            }
            img {
                width: 60px;
                height: 60px;
                border-radius: 15rem!important;
            }
            .user-info {
                color: $text-muted;
                font-size: $font-size-sm;
                .name {
                    font-weight: bolder;
                    color: $gray-900;
                }
            }
            .counts-list {
                .media-count,
                .follower-count,
                .following-count {
                    span {
                        font-size: $font-size-base * .75;
                        &.figure {
                            display: block;
                            font-size: 2.25rem;
                        }
                    }
                }
                .media-count {
                    color: $green;
                }
                .follower-count{
                    color: $orange;
                }
                .following-count {
                    color: $gray-700;
                }
            }

            img,
            .col {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .title {            
            display: inline-block;
            font-size: 1.7em;
            font-weight: bold;
            padding: 5px 15px;
        }
    }
}

#modal-new-account {
    .close {
        // position: absolute;
        // right: 0;
    }
}
