{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="form-group row col-lg-12">
        <label class="col-3 col-form-label">Режим</label>
        <div class="col-9 js_autogreeting-speed">
            {{!-- autogreeting-speed from Ajax --}}
        </div>
    </div>
    {{>step-buttons}}
</div>