
{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="autoanswer-text-fields">
        <div class="row">
            <div class="col">
                <textarea class="form-control answer-words" rows="4"
                            placeholder="Введите текст, который будет отправлен новому подписчику"
                ></textarea>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <button type="button" class="btn btn-outline-success js_add-autoanswer">+Добавить еще</button>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous mr-2">Назад</button>
    <button type="submit" class="btn btn-success">Запустить</button>
</div>

