<div>
    <div class='ng-modal ' ng-if='show'>
        <div class='ng-modal-overlay ' ng-click='hideModal()'>
        </div>
        <div class='ng-modal-dialog' ng-style='dialogStyle'>
            <!--<div class='ng-modal-close' ng-click='hideModal()'>X</div>-->
            <div class="modal-header">
                <button class="close" aria-label="Close" data-dismiss="modal" 
                        ng-click='hideModal()' type="button">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 id="gridModalLabel" class="modal-title">
                    Create User
                    <a class="anchorjs-link" href="#gridModalLabel"></a>
                </h4>
            </div>
            <div class='ng-modal-dialog-content' ><!-- ng-transclude off-->
                <div class=" form-group modal-body ">                    
                    <ng-form class="form-horizontal " name="signup_form"
                             ng-controller="tableCtrl"  novalidate>
                        <div ng-repeat="field in fields" ng-form="signup_form_input"
                             class="form-group">
                            <label class="control-label"> {{field.placeholder}}
                            <input class="input-lg"
                                   type="{{field.type}}"
                                   name="dynamic_input"
                                   maxlength="10"
                                   ng-required="field.isRequired"
                                   ng-model="field.inputValue"
                                   placeholder="{{field.placeholder}}" />
                            </label>
                            <div ng-show="signup_form_input.dynamic_input.$dirty && signup_form_input.dynamic_input.$invalid">
                                <span class="error" ng-show="signup_form_input.dynamic_input.$error.required">The field is required.</span>
                            </div>
                            <!--You enter:{{field.inputValue}}-->
                            
                        </div>
                        
                        <button type="submit" class="btn btn-success"
                                ng-disabled="signup_form.$invalid" 
                                ng-click="submitForm(fields[0].inputValue,fields[1].inputValue,fields[2].inputValue);hideModal();">
                            Add user and close modal window</button>
                        
                    </ng-form>                
            </div>                
        </div>
    </div>
</div>

