<!--<td><input type="text" ng-model="model.selected.name" /></td>-->
<td><input type="number" ng-model="user.index" style = 'max-width: 70px;'/></td>
<td><input type="text" ng-model="user.firstName" /></td>
<td><input type="text" ng-model="user.lastName" /></td>
<td><input type="email" ng-model="user.email" /></td>
<!--<td><input type="text" ng-model="user.is_active" /></td>-->
<td >
   set active: <br/> <input type="checkbox" ng-model="user.is_active"> <br/>
   {{user.is_active}}
</td>

<td>
    <button class="btn btn-sm btn-block" ng-click="saveContact(user.index)">Save</button>
    <!--<button class="btn btn-sm btn-block" ng-click="reset()">Cancel</button>-->
</td>