{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="form-group row col-lg-12">
        <label class="col-3 col-form-label">Скорость</label>
        <div class="col-9 js_task-mode">
            {{!-- follow-speed from Ajax --}}
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous">Назад</button>
    <button type="button" class="btn btn-blue btn-next">Дальше</button>
</div>
