{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="row">
        <div class="form-group col-md-6 col-sm-6">
            <label class="" for="limit">Лимит подписок</label>
            <input type="number" class="form-control" placeholder="Лимит подписок" name="limit" id="limit" min="0" max="100000" value="10000">
        </div>
    </div>
    <div class="form-group" style="margin-bottom:3px;">
        {{!-- <div class="row">
            <div class="form-group col-md-12">
                Количество постов
            </div>
            <div class="form-group col-md-3 col-sm-3">
                <input type="number" class="form-control" name="have_posts_from" placeholder="have_posts from"
                        id="have_posts-from" min="0" value="3">
            </div>
            <div class="form-group col-md-3 col-sm-3">
                <input type="number" class="form-control" name="have_posts_to" placeholder="have_posts to"
                        id="have_posts-to" min="0" value="999999">
            </div>
        </div> --}}
        {{!-- <div class="row">
            <div class="form-group col-md-12">
                Количество подписчиков
            </div>
            <div class="form-group col-md-3 col-sm-3">
                <input type="number" class="form-control" name="have_followers_from" placeholder="have_followers from"
                        id="have_followers-from" min="0" value="30">
            </div>
            <div class="form-group col-md-3 col-sm-3">
                <input type="number" class="form-control" name="have_followers_to" placeholder="have_followers to"
                        id="have_followers-to" min="0" value="99999">
            </div>
        </div> --}}
        <div class="row">
            <div class="form-group col-md-12">
                Количество подписок
            </div>
            <div class="form-group col-md-3 col-sm-3">
                <input type="number" class="form-control" name="have_followings_from" placeholder="have_followings from"
                        id="have_followings-from" min="0" value="0">
            </div>
            <div class="form-group col-md-3 col-sm-3">
                <input type="number" class="form-control" name="have_followings_to" placeholder="have_followings to"
                        id="have_followings-to" min="0" value="999">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-3 col-form-label">task_modes</label>
        <select class="form-control select-task_mode">
            <option value="AGGRESSIVE">AGGRESSIVE</option>
            <option value="MIDDLE">MIDDLE</option>
            <option value="SAFE">SAFE</option>
        </select>
    </div>

    <button type="button" class="btn btn-blue btn-previous">Назад</button>
    <button type="submit" class="btn btn-blue ">Старт</button>
</div>