<div class="сonfirm-page-component">
  <div class="row ">

    <div class="сonfirm-page--confirm-msg">
        <p>Регистрация успешно завершена!</p>
        <p>Теперь Вы можете добавить свой Instagram аккаунт: [<a href="/instagram-integration/">Добавить</a>]</p>
    </div>

  </div>

</div>
