{{#> base }}

  <div class="container-fluid follow-page">

    <h3>Подписки</h3>
    <p>Система будет подписываться на пользователей по заданным настройкам.</p>

      {{>follow}}

  </div>

{{/ base }}
