
<div ng-controller="tableCtrl">
    
    <notification class="alert" message='factory.getMsg()'> </notification>
<!--    <div class="alert" ng-show="true">
        <b>Alert!</b>
        <p>{{factory.getMsg()}}</p>                   
    </div>-->
    <form>
        <!--<button class="btn btn-success" ng-click="messageTest()">SET message</button>-->
        <button class="btn btn-success" ng-click="toggleModal()">Create User</button>
        
        <div class="checkbox">
            Show by:            
            <select ng-model="selected" 
                ng-options="opt as opt.label for opt in options">
            </select>
        </div>
    </form>

<div class="col-md-12">    
    <table class="table table-striped panel panel-primary">
        <thead >
            <tr>
                <th ng-click="sortBy('index')"><a>Id</a></th>
                <th ng-click="sortBy('firstName')"><a>firstName</a></th>
                <th ng-click="sortBy('lastName')"><a>lastName</a></th>
                <th ng-click="sortBy('email')"><a>email</a></th>
                <th>Active <h6>({{selected.value }})</h6></th>
                <th>DEL</th>
            </tr>
        </thead>
        <tbody>
            <!--| limitTo: itemsPerPage | offset: currentPage*itemsPerPage-->
            
            <tr ng-repeat="user in users 
                | orderBy:sorting | offset: currentPage*itemsPerPage
                | limitTo: itemsPerPage"                 
                ng-dblclick="edit(user)"
                ng-if = "selected.value === user.is_active || selected.value === 'all'"
                ng-include="getTemplate(user)"
                class="slide-animate">          
                
            </tr>
           
        </tbody>
        <tfoot>
        <tr>
        <td colspan="6">
            <div class="pager">
                <ul>
                    <li ng-class="prevPageDisabled()" class = "previous">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
<!--                    <li ng-repeat="n in range()"
                        ng-class="{active: n === currentPage}" ng-click="setPage(n)">
                        <a href="#">{{n+1}}</a>
                    </li>-->

                    <li>Items Per Page:
                        <input class="input-sm"
                               type="number"
                               name="itemsPerPage"                                   
                               ng-model="itemsPerPage"
                               placeholder="{{itemsPerPage}}" /> of {{users.length}}
                    </li>
                    <li ng-class="nextPageDisabled()" class = "next">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </td>
        </tr>
        </tfoot>
    </table>
</div>
        
    <modal-dialog show='modalShown' width='80%' height='auto'>
        <p>Modal Content Goes here,  modalShown.show: {{modalShown}}<p>            
    </modal-dialog>
</div>