*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $primaryColor;

  // @media (min-width: $desktopBreakpoint) {
  //   font-size: $desktopFontSize;
  // }
}

p {
  margin: 1em 0;
}

a {
  text-decoration: underline;

  &:hover {

  }
}

.holder {
    background-color: lightgray;
    display: block;
    max-width: 200px;
    height: 200px;
}

.field input.input-error {
  border: 1px solid $danger;
}
