.bootstrap-tagsinput {
    min-width: 100%;
    input {
        min-width: 100%;
    }
    .label {
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;

        &.label-info {
            background-color: $blue;
        }
    }
}
