<div class="burger-menu__toolbar d-flex">
    <button class="burger-menu__toolbar-toggler burger-menu__toolbar-toggler--left"
            id="aside_mobile_toggler"><span></span></button>
    <button class="burger-menu__toolbar-toggler"
            id="header_mobile_toggler"><span></span></button>
    <button class="burger-menu__toolbar-topbar-toggler"
            id="header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
</div>
