$small-button-side-width: 13px;
$small-button-height: 29px;

$big-button-side-width: 20px;
$big-button-height: 41px;

$sp-button-side-width: 16px;
$sp-button-height: 29px;

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

#header-content {
    position: absolute;
    top: 67px;
    display: inline-block;
    right: 20px;
}

/*-buttons-*/

.small-button,
.big-button,
.support-button {
    position: relative;
    display: inline-block;
    outline: 0px none;
    background: transparent url("../images/addition/buttons.png") repeat scroll 0 0;
    color: $c-text-white;
    text-decoration: none;
    border: none;
    &:hover {
        opacity: 0.8;
    }
}

.big-button::before,
.big-button::after,
.small-button::before,
.small-button::after,
.support-button::before,
.support-button::after {
    content: "";
    position: absolute;
    top: 0px;
    outline: 0px none;
    background: transparent url("../images/addition/buttons.png") repeat scroll 0% 0%;
}

/*.small-button*/
.small-button{
    height: $small-button-height;
    line-height: $small-button-height;
    margin: 6px $small-button-side-width;
    padding: 0px 7px;
    font-size: 14px;
    font-weight: normal;
    font-family: $font-stack;
    background-position: 0px -50px;
}

.small-button::before,
.small-button::after {
    height: $small-button-height;
}

.small-button::before {
    width: $small-button-side-width;
    right: -$small-button-side-width;
    background-position: -106px -13px;
}

.small-button::after {
    width: $small-button-side-width;
    left: -$small-button-side-width;
    background-position: 38px -13px;
}

/*big-button*/
.big-button{
    height: $big-button-height;
    line-height: $big-button-height;
    margin: 6px $big-button-side-width;
    padding: 0px 7px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Sansation', serif;
    background-position:  0px -110px;
    text-shadow: 0px -1px 0px #013E76;
}

.big-button::before,
.big-button::after {
    height: $big-button-height;
    content: "";
    position: absolute;
    top: 0px;
    outline: 0px none;
    background: transparent url("../images/addition/buttons.png") repeat scroll 0% 0%;
}
.big-button::before {
    width: $big-button-side-width;
    right: -$big-button-side-width;
    background-position: -24px -6px;
}

.big-button::after {
    width: $big-button-side-width;
    left: -$big-button-side-width;
    background-position: -2px -6px;
}

/*support-button*/
.support-button{
    height: $sp-button-height;
    line-height: $sp-button-height;
    margin: 6px $sp-button-side-width;
    padding: 0px 7px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: $c-text-blue;
    font-family: 'Sansation', serif;
    text-transform: uppercase;
    background-position: 0px -79px;

}
.support-button::before,
.support-button::after {
    height: $sp-button-height;
}
.support-button::before {
    width: $sp-button-side-width;
    right: -$sp-button-side-width;
    background-position: 62px -12px;
}

.support-button::after {
    width: $sp-button-side-width;
    left: -$sp-button-side-width;
    background-position: 80px -12px;
}





