$nav-bg-side-width: 11px;
$nav-bg-height: 53px;

body {
    font: 100% $font-stack;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

li {
    list-style: none;
}

.wraper {
    margin: 0 auto;
    width: 1170px;
    position: relative;

    .main-container {
        padding: 15px;
        border: 1px solid #e6e6e6;
        margin-top: 25px;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 40px;
        box-shadow: 0px 3px 3px rgba(150, 150, 150, 0.5);
    }
}



.footer-container {
    background: #0d385b; /* for IE 8- */
    background: linear-gradient(to top, #1667a6, #0d385b);
    width: 100%;
}
.footer {
    //position: fixed;
    left: 0; bottom: 0;
    padding: 2%;
    color: #fff;
    display: inline-block;
    width: 96%;
}

.logo{
    position: relative;
    text-align: center;
    display: block;
    vertical-align: middle;
    line-height: 124px;
    top: 20px;
}
.main {
    .widget-banner,
    .widget-video,
    .widget-products{
        text-align: center;
        padding-bottom: 25px;
        &:last-child {
            padding-bottom: 45px;
        }
    }
    .widget-banner {
        a {
            color: $c-text-white;
            text-decoration: none;
            position: relative;
            display: block;

            span {
                position: absolute;
                display: block;
                width: 100%;
                margin-top: 3%;
            }
            h1 {
                font-size: 58px;
                color: $c-text-white;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                font-family: 'AGLettericaCondensed', serif;
                width: 50%;
                margin: 0 auto;
            }
            p{
                width: 30%;
                margin: 0 auto;
                text-transform: uppercase;
            }
            img {
                display: block;
                width: 100%;
            }


        }
        .action{
            position: relative;
            bottom: 98px;
            height: 0;
            a {
                display: inline-block;
            }
        }
        .panel-pane {
            border-radius: 8px;
            background-color: $c-nav-bg;
            margin-bottom: 40px;
            box-shadow: 0px 3px 3px rgba(150, 150, 150, 0.5);
            position: absolute;
            top: 240px;
            right: 30px;
            width: 280px;
            h2 {
                color: $c-text-blue-light;
            }

            input {
                width: 85%;
                margin-bottom: 20px;
                padding-left: 5%;
            }
            .area-entry {
                min-width: 90%;
                box-sizing: border-box;
                width: 90%;
                font-family: $font-stack, serif;
            }
        }
    }
    .widget-video,
    .widget-products {
        h1 {
            font-size: 27px;
            color: $c-text-blue;

            font-family: 'AGLettericaCondensed', serif;
            background-color: #f5f5f5;
            border-radius: 20px;
            box-shadow: 1px 1px 3px rgba(150, 150, 150, 0.5);
            height: 45px;
            line-height: 45px;
            margin: 10px 60px 20px 60px;
        }

    }
    .widget-products {
        ul {
            padding: 0;
            li {
                display: inline-block;
                width: 15.69%;
                margin: 0 2%;
            }
        }

        img{width: 100%;}

        h3 {
            font-family: 'AGLettericaCondensed', serif;
            font-size: 24px;
            color: $c-text-gray;
        }
        p {
            font-size: 14px;
            color: $c-text-black;
            text-align: left;
        }

    }

}