.footer {

    .static-block-14,
    .social-wraper,
    .static-block-13,
    .static-block-12,
    .static-block-11,
    .static-block-10{
        display: inline-block;
        vertical-align: top;
        margin-top: 1%;


        h2 {
            font-size: 12px;
            font-weight: normal;
            padding-bottom: 10px;
            text-transform: uppercase;
            text-align: center;
        }
        ul {
            padding: 0;
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: $c-text-white;
            font-size: 12px;
            text-align: center;
            display: block;
            line-height: 18px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .static-block-14,
    .static-block-13,
    .static-block-12,
    .static-block-11,
    .static-block-10 {
        width: 19%;
    }
    .social-wraper{
        display: block;
        text-align: center;
    }

    .static-block-13 {
        vertical-align: bottom;
    }


    .static-block-13 {
        img {
            display: inline;
            margin-right: 5px;
        }
    }


    .static-block-14 {
        a { display: inline-block; }

        span {
            display: block;
            padding-bottom: 10px;
            background: url("../images/addition/social-icons.png") no-repeat 0px 0px;
            height: 30px;
            width: 40px;
            &:hover{
                background-position: 0 -40px;
            }

            &.footer-social-tw {
                background-position: -52px 0;
                &:hover{
                    background-position: -52px -40px;
                }
            }

            &.footer-social-go {
                background-position: -98px 0;
                &:hover{
                    background-position: -98px -40px;
                }
            }
        }
    }

//    $list: "fb","tw", "go";
//    @each $item in $list {
//        .footer-social-#{$item} {
//            background-position: #{$item}px;
//        }
//    }


}


@media #{$tablet} {
    .footer {
        .static-block-10,
        .static-block-11,
        .static-block-12,
        .static-block-13,
        .static-block-14 {
            display: block;
            clear: none;
            float: left;
            width: 49%;
            margin: 0 auto 20px 1%;
            min-height: 105px;
        }
        .social-wraper {
//            width: 46%;
//            float: none;
        }

        .static-block-10,
        .static-block-11 {
            p {
                background: none;
                padding-left: 0;
            }
        }

    }
}
@media #{$phone} {
    .footer {
        .static-block-14,
        .static-block-13,
        .static-block-12,
        .static-block-11,
        .static-block-10{
            display: block;
            clear: both;
            float: none;
            width: 98%;
            margin: 0 auto 20px 2%;
        }

        .static-block-13 {
            padding-left: 0;
            padding-top: 0;
        }

    }
}
