<div class="wrapper__content {{#if modificator}}wrapper__content--{{modificator}}{{/if}}">
  <div class="container-fluid pt-5">
    <div class="row">

      {{>sidebar-menu}}

      <main role="main" class="js_main col-md-9 ml-sm-auto col-lg-10 px-4">
        {{> @partial-block }}
      </main>

    </div>
  </div>
</div>