$white-lilac: #F8F9FB;

.wrapper {
  background-color: $white-lilac;

  &__content {
    @include contentIndent;
    position: relative;
    padding: ($headerHeightTablet + 10px) 0 20px;

    @media (min-width: $tabletBreakpoint) {
      padding: ($headerHeightTablet + 20px) 0 60px;
    }

    @media (min-width: $desktopBreakpoint) {
      padding: ($headerHeightDesktop + 20px) 0 60px;
    }
  }
}
