{{#> base }}

  <div class="container-fluid notifications-page">

    <h3>Notifications page</h3>
    
    <p>
     Оповещения позволяют вам получать информацию об интересующих вас хештегах, отметках и геопозиции. Вы можете сразу лайкнуть, оставить комментарий или подписаться.
    </p> 

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Оповещения по хештегам
        </div>
        <div class="col-sm">
          Оповещения по хештегам
        </div>
        <div class="col-sm">
          Оповещения по хештегам
        </div>
      </div>
      <div class="row">
        <div class="col">
          Лента
        </div>
      </div>
    </div> 

  </div>


{{/ base }}