{{#> base }}

    <div class="profile-user">
        {{> instagram-accounts-list
                showHeader='true'
                withIntent='true'
                listPadding='true'
        }}
        {{> instagram-accounts-list-modals}}
    </div>

{{/ base }}
