{{#> base }}
  <h1>Welcome Home page</h1>
  <a href="./app/static/index.html">landing</a>
<!--  <ol style="margin: 100px 0 0 100px">
    <li><a href="./autogreeting.html">autogreeting</a></li>
    <li><a href="./autoposting.html">autoposting</a></li>
    <li><a href="./bot-cleaner.html">bot-cleaner</a></li>
    <li><a href="./chat-bot.html">chat-bot</a></li>
    <li><a href="./comments.html">comments</a></li>
    <li><a href="./confirm-registration.html?token=token-from%20server">confirm-registration--test-page</a></li>
    <li><a href="./messages.html">messages</a></li>
    <li><a href="./newsletter.html">newsletter</a></li>
    <li><a href="./notifications.html">notifications</a></li>
    <li><a href="./profile.html">profile</a></li>
    <li><a href="./sibscribe.html">sibscribe</a></li>
    <li><a href="./stories.html">stories</a></li>
    <li><a href="./unsibscribe.html">unsibscribe</a></li>
    <li></li>
    <li><a href="./instagram.html">instagram</a></li>
  </ol>-->
{{/ base }}
