{{#> base }}
  <h1>Welcome Home page</h1>
  <ol style="margin: 100px 0 0 100px">
    <li><a href="./instagram-integration.html">instagram-integration</a></li>
    <li><a href="./confirm-registration.html?token=token-from%20server">confirm-registration</a></li>
    <li><a href="./profile.html">profile</a></li>
  </ol>
{{/ base }}
