{{#> base }}
  <h1>Welcome Home page</h1>
  <ol style="margin: 100px 0 0 100px">
    <li><a href="./product-tile.html">Product Tile</a></li>
    <li><a href="./instagram-integration.html">instagram-integration</a></li>
  </ol>
{{/ base }}
