<div class="login-box">
<form id="js_login-form">
    <p class="class-header">
        <strong>Логин</strong>
    </p>
    <div class="fields">
        <div class="field">
            <div style="color: red"> <span class="field-validation-valid validator" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <input class="padding form-control text" id="email" name="mail" placeholder="Ваш e-mail*" required="true" type="text" value="">
        </div>

        <div class="field">
            <input class="padding form-control text" id="loginform-pass" name="pass" placeholder="Ваш пароль*" required="true" type="text" value="">
        </div>

    </div>
    <button class="btn btn-block btn-primary my-button"
        id="js_login_btn">Логин</button>
</form>

<div id="some-error"></div>
<div id="description"></div>

</div>