
.profile-user {
    .heading {
        .actions {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    .accounts-list {
        .media {
            img {
                width: 60px;
                height: 60px;
                border-radius: 15rem!important;
            }
            .media-count,
            .follower-count,
            .following-count {
                display: inline;
            }
        }

        .title {            
            display: inline-block;
            font-size: 1.7em;
            font-weight: bold;
            padding: 5px 15px;
        }
    }
}

#modal-new-account {
    .close {
        // position: absolute;
        // right: 0;
    }
}