<div class="profile-user row">
        
    {{!-- <div class="col-3 pr-4">
        <div class="card">
            <div class="card-header">Персональные настройки</div>
            <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item">
                    <a class="js-selected-navigation-item menu-item" data-selected-links="avatar_settings /settings/profile" href="/settings/profile">Profile</a>
                </li> -->
                <li class="list-group-item border-left border-warning border-2">
                    <a class="js-selected-navigation-item selected menu-item text-decoration-none" aria-current="page" data-selected-links=" /profile" href="/profile.html">Аккаунт</a>
                </li>
            </ul>
        </div>
    </div> --}}

    <div class="col-9  col-sm-12 pr-4">
        <form class="password-change-form">
            <div class="form-group">
                <label for="oldInputPassword">Текущий пароль</label>
                <input type="password" class="form-control" id="oldInputPassword" required="required">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="newInputPassword">Новый пароль</label>
                <input type="password" class="form-control" id="newInputPassword" required="required">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="confirmedInputPassword">Подтвердить новый пароль</label>
                <input type="password" class="form-control" id="confirmedInputPassword" required="required">
            </div>
            <button type="submit" class="btn btn-success">Обновить пароль</button>
        </form>
    </div>

</div>