
.profile-user {
    .heading {
        .actions {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    .accounts-list {

        .title {
            
            display: inline-block;
            font-size: 1.7em;
            font-weight: bold;
            padding: 5px 15px;
        }
    }
}

#modal-new-account {
    .close {
        // position: absolute;
        // right: 0;
    }
}