<div class="profile-user">
    <div class="row ">

        <div class="col-half w-60 my-5">
            Profile-user
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading my-3">
                        <h2 class="view-title">Аккаунты</h2>
                        <div class="actions">
                            <button class="btn btn-success" data-toggle="modal" data-target="#modal-new-account"><i
                                    class="fa fa-plus"></i> Новый аккаунт</button>
                        </div>
                    </div>

                    <ul class="list-unstyled accounts-list mt-5">
                        {{!-- <li class="media">
                            <img class="mr-3 rounded" alt="64x64" src="http://api.randomuser.me/portraits/men/42.jpg">
                            <div class="media-body mt-3">
                                <h3 class="mt-0 mb-3">Имя</h3>
                                <button type="button" class="btn btn-primary mr-3">Статус</button>
                                <button type="button" class="btn btn-secondary">Чекпоинт</button>
                            </div>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-new-account" tabindex="-1" role="dialog" aria-labelledby="modal-new-account" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-new-ticket-label">Add New Member</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-success margin-top-md center-block" data-dismiss="modal">Add Account</button>                        
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>