<div class="log-tasks--box mt-2">
    <div class="log-users-list"></div>
    <nav aria-label="Page navigation">
        <ul class="logs-pagination pagination justify-content-center"></ul>
    </nav>
    <ul class="log-tasks list-unstyled">
        {{!-- <li class="ipsField tag_field">
            Выберите пользователя
        </li> --}}
    </ul>
</div>