
<div class="d-flex manage-logs-box float-right">
    <button class="btn btn-success js_download-logs ml-auto" >Скачать</button>
    <button class="btn btn-danger js_delete-logs ml-auto" >Очистить логи</button>
</div>
<div class="log-users-list" style="z-index: -1;"></div>


<div class="log-tasks--box mt-2">
    <nav aria-label="Page navigation">
        <ul class="logs-pagination pagination justify-content-center"></ul>
    </nav>
    <ul class="log-tasks list-unstyled">
        {{!-- <li class="ipsField tag_field">
            Выберите пользователя
        </li> --}}
    </ul>
</div>


{{!-- Modal to delete-logs promt--}}
<div class="modal fade" id="delete-logs-promt" tabindex="-1" role="dialog" aria-labelledby="delete-user" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Очистить логи</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить логи?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js_logs-delete-confirm" >Да</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>