{{!-- <div class="delete-logs-box col ml-auto">
    <button class="btn btn-danger delete-logs" >Очистить логи</button>
</div> --}}
<div class="log-subype--box">
    <div class="log-subype"></div>
</div>