.btn {
    font-weight: normal;
    /*text-transform: uppercase;*/
    border: none;
    font-size: 30px;
    border-radius: 300px;
    text-align: left;
    font-family: 'SF UI Display Thin', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.05;
}

.btn-xl {
    padding: 33px 54px 33px 122px;
}

.btn-primary {
    background-color: transparent;
    border-color: transparent;
    background: url("../img/buttons/button-bg.jpg") center;
    position: relative;
}

.button-box---primary:after {
    content: '';
    display: block;
    background: url("../img/buttons/btn-shadow.png") center;
    background-size: cover;
    height: 40px;
    max-width: 80%;
    margin: 30px auto 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    /*background-color: #ee4b28 !important;*/
}

.btn-primary:active, .btn-primary:focus {
    /*-webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;*/
    /*box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;*/
}

.button-box a{
    width: 448px;
}

/**/
#promo .button-box{
    margin-top: 90px;
}

