strong,
.bold {
    font-family: 'SF UI Display Bold';
}
section {
    padding: 120px 0;
}


.padding-x-custom {
    padding-left: 48px;
    padding-right: 48px;
}

.masthead .button-box---primary:before {
    left: 28px;
    top: 0;
}
.masthead .button-box---primary:after {
    bottom: -60px;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 26px;
    }
}

/*video*/
#video .title {
    max-width: 430px;
    display: inline-block;
    margin-right: 20px;
}
#video .column-padding {
    padding-top: 155px;
    padding-left: 130px;
}
.video-btn-box {
    display: inline-block;
    position: relative;
    top: -50px;
}
.video-bg {
    background: url("../img/video/video-bg.jpg") no-repeat center;
    height: 611px;
    width: 943px;
    z-index: 1;
    position: relative;
}
.video-btn {
    background: url("../img/video/btn-start-video.svg") no-repeat center;
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 3;
}
.video-btn:hover {
    background: url("../img/video/btn-start-video-active.svg");
}
.video-btn-shadow {
    background: url("../img/video/btn-shadow.png");
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    top: -180px;
}
section#video {
    padding-top: 0;
    margin-top: -80px;
}

/*interesting*/

#interesting img {
    max-width: 215px;
}
#interesting p {
    padding: 0 40px;
}
.extra-space {
    height: 350px;
}

/*promo*/
.promo-bg {
    background: url("../img/promo/layer-6.png") no-repeat left;
    height: 670px;
    position: relative;
    margin-top: -330px;
}
#promo p{
    font-size: 26px;
    max-width: 488px;
}

#promo .button-box---primary:before {
    left: 26px;
}

/*difference*/
#difference.difference-bg {
    background: url("../img/difference-bg.jpg") no-repeat center;
    height: 1127px;
    position: relative;
    margin-top: 60px;
}
/* .info {

} */
#difference .info-text {
    font-size: 18px;
    color: var(--slate-grey);
}

/*results*/
.results-info-box {
    padding-top: 100px;
}
.results-info-box p {
    line-height: 1.32;
}
.results-info-box p.text-style-big {
    line-height: 0.6;
}
.results-info-box .title {
    font-size: 38px;
}

.results-bg {
    background: url("../img/results-bg.jpg") no-repeat right top;
    height: 762px;
    position: relative;
    margin-bottom: -520px;
}
.results-padding-line {
    padding-bottom: 360px;
    height: 100%;
    background-color: #dddede;
    margin-top: 110px;
    margin-bottom: -120px;
}

#reviews {    
    background-color: #dddede;
}
#reviews .name {
    font-size: 38px;
    color: var(--blue-with-a-hint-of-purple);
    background-color: #ffffff;
    display: inline-block;
    padding: 42px 110px;
    line-height: 1;
    margin-left: -90px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
#reviews .user-box img {
    z-index: 3;
    position: relative;
}

/*tariffs*/
#tariffs .title {
    font-size: 38px;
}
.tariffs-bg-left,
.tariffs-bg-right {
    background: url("../img/tariff-left.jpg") no-repeat top;
    background-size: cover;
    height: 297px;
    padding: 52px 68px;
}
.tariffs-bg-left p,
.tariffs-bg-right p {
    color: #ffffff;
    font-size: 38px;
    line-height: 1.42;
}
.tariffs-bg-right {
    background: url("../img/tariff-right.jpg") no-repeat top;
}
#tariffs .button-box---primary {
    margin: -70px auto;
}
#tariffs .button-box---primary a{
    font-size: 28px;
    font-family: 'SF UI Display Thin';
    line-height: 62px;
}

/**/
.footer {
    background: url("../img/footer-bg.jpg") no-repeat top;
    height: 805px;
    margin-top: -360px;
    background-size: 100% auto;
}

.footer a {
    font-size: 16px;
    line-height: 2.56;
    font-family: 'SF UI Display Thin';
}

.footer a.footer-logo {
    font-size: 36px;
}

.footer-container-padding {
    padding-top: 450px;
}

.footer .small-line-h {
    line-height: 1.31;
}
.custom-max-width {
    max-width: 140px;
}
.copyright p {
    font-size: 16px;
}

