{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="form-group row col-lg-12">
        {{!-- <label class="col-3 col-form-label"></label> --}}
        <div class="col-9 js_get-stories-type">
            <div class="custom-control custom-radio">
                <input type="radio" id="STORIES_BY_LIST" name="customRadio" value="STORIES_BY_LIST" class="custom-control-input" checked="">
                <label class="custom-control-label" for="STORIES_BY_LIST">По списку</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="STORIES_BY_FOLLOWERS" name="customRadio" value="STORIES_BY_FOLLOWERS" class="custom-control-input">
                <label class="custom-control-label" for="STORIES_BY_FOLLOWERS">По подписчикам</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="STORIES_BY_ACTIVE_AUDIENCE" name="customRadio" value="STORIES_BY_ACTIVE_AUDIENCE" class="custom-control-input">
                <label class="custom-control-label" for="STORIES_BY_ACTIVE_AUDIENCE">По активной аудитории конкурентов</label>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous">Назад</button>
    <button type="button" class="btn btn-blue btn-next">Дальше</button>
</div>
