{{#> base }}

  <div class="container-fluid bot-cleaner-page">

    <h3>bot-cleaner page</h3>
    
    <div>
      <p>Чистка от ботов - здесь вы можете удалить всех ботов, которые у вас в подписчиках.</p>
      <p>[Инструкция по чистке] [Видео по чистке от ботов]</p>
      </div>

    <div class="container">
      <div class="row">
        <h3>Сроки чистки</h3>
        <div class="col">
          <p>Безопасний</p>
        </div>
        <div class="col">
          <p>Средний</p>
        </div>
        <div class="col">
          <p>Агресивный</p>
        </div>
      </div>
    </div>

    <button>Запустить рассылку</button>

    <div>
    Удалено Осталось Всего (https://wireframe.cc/1u1HFm)
    </div>
    

  </div>


{{/ base }}