<form role="form" name="chat-bot-form" class="chat-bot-form was-validated---" action="javascript:void(0);">
    <fieldset class="chat-bot-text-fields">
        <div class="row">
            <div class="col">
                <textarea class="form-control chat-words" rows="4"
                          placeholder="Введите ключевые слова или фразы через запятую, при которых будет срабатывать чат-бот"
                          ></textarea>
            </div>
            <div class="col">
                <textarea class="form-control chat-messages" rows="4"
                          placeholder="Введите сообщение, которое будет отправляться, если присутствовали ключ.слова или фразы из столбца слева"
                          ></textarea>
            </div>
        </div>
    </fieldset>
    <div class="form-bottom">
        <div class="row">
            <div class="col pt-3">
                <button type="button" class="btn js_add-chat-bot">+Добавить еще Чат бота</button>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-success">Старт</button>
        </div>
    </div>
</form>
