{{!-- {{>follow-create-task}} --}}
<div class="form-top">
    <div class="form-top-left">
        <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Настройка чат-бота</h3>
        <p>Шаг 2/2</p>
    </div>
</div>
<div class="form-bottom">
    <div class="chat-bot-text-fields">
        <div class="row">
            <div class="col">
                <textarea class="form-control chat-words" rows="4"
                            placeholder="Введите ключевые слова или фразы через запятую, при которых будет срабатывать чат-бот"
                ></textarea>
            </div>
            <div class="col">
                <textarea class="form-control chat-messages" rows="4"
                            placeholder="Введите сообщение, которое будет отправляться, если присутствовали ключ.слова или фразы из столбца слева"
                ></textarea>
            </div>
        </div>    
    </div>
    <div class="row py-3">
        <div class="col">
            <button type="button" class="btn btn-outline-success js_add-chat-bot">+Добавить еще Чат бота</button>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous mr-2">Назад</button>
    <button type="submit" class="btn btn-success">Старт</button>
</div>

