{{#> base }}

    <h3 class="mb-5">Отслеживайте все комментарии и ведите переписку в Инстаграм через браузер с компьютера.</h3>


    <div id="some-error"></div>
    <div id="description"></div>

{{/ base }}
